version: "3.7"



services:

  app:
      build:
        args:
          user: sammy
          uid: 1000
        context: ./
        dockerfile: Dockerfile
      image: morellato_app
      container_name: morellato-app
      restart: unless-stopped
      working_dir: /var/www/
      volumes:
        - ./:/var/www
      networks:
        - morellato-network

  nginx:
      image: nginx:1.17-alpine
      container_name: morellato-nginx
      restart: unless-stopped
      ports:
        - 8000:80
      volumes:
        - ./:/var/www
        - ./docker-compose/nginx:/etc/nginx/conf.d
      networks:
        - morellato-network


  nodejs:
    image: node:18.5.0-alpine3.16
    container_name: morellato-nodejs
    volumes:
      - './:/var/www/'
    working_dir: /var/www
    networks:
      - morellato-network

  php:
    image: php:8.1.0-fpm
    container_name: morellato-php
    volumes:
      - './:/var/www/'
    working_dir: /var/www
    networks:
      - morellato-network
  
  database:
    image: mysql:5.7
    environment:
      - "MYSQL_ROOT_PASSWORD=secret"
      - "MYSQL_DATABASE=morellato-db"
    ports:
      - "33066:3306"
    networks:
      - morellato-network

  phpmyadmin:
    image: "phpmyadmin/phpmyadmin"
    container_name: morellato-phpmyadmin
    links:
      - database
    ports:
      - "8091:80"
    environment:
      - "PMA_HOST=database"
      - "PMA_USER=root"
      - "PMA_PASSWORD=secret"
    networks:
      - morellato-network



networks:
  morellato-network:
    driver: bridge
