.div-principale-nav{
    width: 100%;
    height: 50px;
    padding: 0;
}

.bg-navbar{
    background-color: #00264c;

}

.container2{
 height: 40px;
 padding: 0;

}

.blocco-logo{
    width: 5%;
    margin-right: 20px;
    margin-left: 20px;

}
.blocco-section-btn{
    width: 90%;
}

.blocco-section{
    width: 92%;
}
.blocco-btnLogin{
    width: 8%;
}

.nav-link{
    color:white!important;
    /* font-size: small; */
}

.div-logo{
    height: 30px;
    width: 60px;

}
.img-logo{
    height: 100%;
    width: 100%;
}

.btnLogin{
	margin-right: 10px;
}


.btn-menu{
 border-color: transparent;
 box-shadow: none!important;

 /* box-shadow: white!important; */
}

.img-menu{
    width: 30px;
    height: 30px;
}
.test{
    background-color: red!important;
}

@media only screen and (min-width: 1000px) {
    .test {
     background-color: rgb(173, 230, 195)!important;
    }


  }

@media only screen  and (max-width: 1000px){
    .blocco-logo{
        height: 40px;
        width: 100px;
    }
    .blocco-section{
        display: block!important;

    }
    .blocco-section-btn{
        padding: 8px;
        z-index: 1;
    }
}
