.myNavbar{
    background-color: #00264c;
    height: 50px;
    padding: 0;
}

.logo{
    height: 30px;
}

.myLink{
    padding: 0;
    color:white!important;
    text-decoration: none;
}

.myCollapse{
    background-color: #00264c;;
}

.icon-menu{
    border-color: white;
    box-shadow: none!important;
}

.div-login-btn{
}

.div-flagLang{
    padding-top: 8px;
    padding-bottom: 8px;
     margin-right: 10px; 
}

.prova{
    position: static;
}

@media only screen and (max-width: 991px){
    .div-login-btn{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .div-flagLang{
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .myLink{
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
