h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    background: linear-gradient(to right, #6c63ff, #4bc3e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
